{% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}
{% block page_product_detail_inner %}
	{% block page_product_detail_content %}
		<div class="imageslider">
			<div class="sidebarnavigation-content">
				{% sw_include '@Storefront/storefront/layout/sidebar/category-navigation.html.twig' with {
            navigationTree: page.header.navigation.tree,
            activeResult: page.header.navigation.active
        } only %}
			</div>
			<div class="product-detail-content">
				{% block page_product_detail_headline %}
					<div class="row align-items-center product-detail-headline">
						{% sw_include '@Storefront/storefront/page/product-detail/headline.html.twig' %}
					</div>
				{% endblock %}

				{% set mediaItems = page.product.media.media %}

				{% block page_product_detail_main %}
					<div id="section1" class="row product-detail-main">
						{% block page_product_detail_buy %}
							<div class="col-lg-5 product-detail-buy">
								{% sw_include '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}
							</div>
						{% endblock %}
						{% block page_product_detail_media %}
							<div class="col-lg-7 product-detail-media">
								{% if page.product.media %}
									{% sw_include '@Storefront/storefront/element/cms-element-image-gallery.html.twig' with {
                                                'mediaItems': mediaItems,
                                                'zoom': true,
                                                'zoomModal': true,
                                                'displayMode': 'contain',
                                                'gutter': 5,
                                                'minHeight': '430px',
                                                'navigationArrows': 'inside',
                                                'navigationDots': 'inside',
                                                'galleryPosition': 'left',
                                                'isProduct': true,
                                                'fallbackImageTitle': page.product.translated.name,
                                                'startIndexThumbnails': 1,
                                                'startIndexSlider': 1,
                                                'keepAspectRatioOnZoom': false
                                            } %}
								{% endif %}
							</div>
						{% endblock %}
					</div>
				{% endblock %}
				{% block page_product_detail_tabs %}
					<div class="product-detail-tabs">
						{% sw_include '@Storefront/storefront/page/product-detail/tabs.html.twig' %}
					</div>
				{% endblock %}
				{% block page_product_detail_cross_selling %}
					{% if page.crossSellings.elements is defined and page.crossSellings.elements|filter(item => item.total > 0)|length > 0 %}
						<div class="product-detail-tabs product-detail-cross-selling" id="section7">
							{% sw_include '@Storefront/storefront/page/product-detail/cross-selling/tabs.html.twig' with {
                                crossSellings: page.crossSellings
                            } %}
						</div>
					{% endif %}
				{% endblock %}
			</div>
		</div>
	{% endblock %}

	<div class="product-detail-tabs d-none">
		<aside class="sidebar" id="bar-fixed">
			<div class="component">
				<ul>
					<li data-scroll="section1">{{ "OwyChTheme.detail.tabsnames.lable1"|trans }}</li>
					<li data-scroll="section2">{{ "OwyChTheme.detail.tabsnames.lable2"|trans }}</li>
					<li data-scroll="section5">{{ "OwyChTheme.detail.tabsnames.lable3"|trans }}</li>
					<li data-scroll="section7">{{ "OwyChTheme.detail.tabsnames.lable4"|trans }}</li>
				</ul>
			</div>
		</aside>

	</div>

{% endblock %}
{% block base_body_script %}
	{{ parent() }}
	<script type="text/javascript">
		let element, stickyElement, headerBottom;
		
		const setStickyProductNavPosition = () => {
			elementDomRect = element.getBoundingClientRect();
			const paddingLeft = window.getComputedStyle(element).getPropertyValue('padding-left');
			const paddingRight = window.getComputedStyle(element).getPropertyValue('padding-right');
			stickyElement.style.width = `${elementDomRect.width}px`;
			stickyElement.style.left = `${elementDomRect.left}px`;
			stickyElement.style.paddingLeft = paddingLeft;
			stickyElement.style.paddingRight = paddingRight;
			if(headerBottom > elementDomRect.top){ // scrolled down
				console.log(`scrolled down`)
				element.style.opacity = 0;
				stickyElement.style.opacity = 1;
			}else{ // scrolled over
				console.log(`scrolled up`)
				element.style.opacity = 1;
				stickyElement.style.opacity = 0;
			}
		}

		document.addEventListener('DOMContentLoaded', function () {
			element = document.querySelector('.tabsnavigation-content');
			stickyElement = element.cloneNode(true); // Deep clone the element
			stickyElement.classList.add('sticky-tabsnavigation-content');
			const headerDomRect = document.querySelector('#mainNavigation').getBoundingClientRect();
			headerBottom = headerDomRect.y + headerDomRect.height + 1;
			stickyElement.style.top = `${headerBottom}px`;
			setStickyProductNavPosition();
			document.body.appendChild(stickyElement);
		});

		window.onresize = setStickyProductNavPosition;
		window.addEventListener('scroll', function() {
			setStickyProductNavPosition();
		});

	</script>
{% endblock %}
