{% sw_extends '@Storefront/storefront/page/product-detail/tabs.html.twig' %}
{% block page_product_detail_tabs_inner %}
<div id="section2" class="detailsections">
	<div class="container">
		<div class="infocontent">
			<div class="techdata">{{ "OwyChTheme.detail.tabsnames.lable2"|trans }}</div>
			{{ page.product.translated.description|striptags('<br><p><a><b><strong><ul><li>')|spaceless|nl2br|raw }}
		</div>
	</div>
</div>
{% set portraitshootingImage = page.product.customFields.custom_product_detail_portraitshooting_img %}
{% set portraitshootingDesc = page.product.customFields.custom_product_detail_portraitshooting_desc %}
{% if portraitshootingImage || portraitshootingDesc %}
	<div id="section3" class="detailsections">
		<div class="container">
			<div class="infocontent">
				<div class="row ">
					{% if portraitshootingImage %}
						{% set mediaCollection = searchMedia([portraitshootingImage], context.context) %}
						{% set portraitshootingImg = mediaCollection.get(portraitshootingImage).url %}
						<div class="col-md-6">
							<img src="{{ portraitshootingImg }}" alt="Tabs Information">
						</div>
					{% endif %}
					{% if portraitshootingDesc %}
						<div class="col-md-6">
							{{ portraitshootingDesc|raw }}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endif %}

{% set aubergewohnlicheImage = page.product.customFields.custom_product_detail_aubergewohnliche_img %}
{% set aubergewohnlicheDesc = page.product.customFields.custom_product_detail_aubergewohnliche_desc %}
{% if aubergewohnlicheImage || aubergewohnlicheDesc %}
	<div id="section4" class="detailsections">
		<div class="container">
			<div class="infocontent">
				<div class="row">
					<div class="col-md-6">
						{{ aubergewohnlicheDesc|raw }}
					</div>
					{% if aubergewohnlicheImage %}
						{% set mediaCollection = searchMedia([aubergewohnlicheImage], context.context) %}
						{% set aubergewohnlicheImg = mediaCollection.get(aubergewohnlicheImage).url %}
						<div class="col-md-6">
							<img src="{{ aubergewohnlicheImg }}" alt="Tabs Information" class="img-fluid">
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endif %}
{% if page.product.sortedProperties|length > 0 %}
	<div id="section5" class="detailsections techcontainer">
		<div class="container">
			<div class="infocontent">
				<div class="techdata">{{ "OwyChTheme.detail.tabsSections.properties"|trans }}</div>
				{% sw_include '@Storefront/storefront/page/product-detail/properties.html.twig' %}
			</div>
		</div>
	</div>
{% endif %}

{% set galleryTitle = page.product.translated.customFields.custom_product_gallery_title %}
{% set galleryImages = [
    page.product.translated.customFields.custom_product_gallery_img1,
    page.product.translated.customFields.custom_product_gallery_img2,
    page.product.translated.customFields.custom_product_gallery_img3,
    page.product.translated.customFields.custom_product_gallery_img4,
    page.product.translated.customFields.custom_product_gallery_img5,
    page.product.translated.customFields.custom_product_gallery_img6
] %}
{% if page.product.translated.customFields.custom_product_gallery_img1!='' %}
	<div id="section9" class="detailsections techgallery">
		<div class="card card-tabs" data-cross-selling="true">
			{# <div class="card-header techdata">
				{{ galleryTitle }} 
			</div> #}
			<div class="card-body">
				<div class="product-detail-tabs product-detail-cross-selling">
					<div class="product-detail-tabs-content">
						<div class="cms-element-product-slider">
							<div class="cms-element-alignment align-self-start">
								<div class="base-slider product-slider has-nav" data-product-slider="true" data-product-slider-options="{&quot;productboxMinWidth&quot;:&quot;450px&quot;,&quot;slider&quot;:{&quot;gutter&quot;:30,&quot;autoplayButtonOutput&quot;:false,&quot;nav&quot;:false,&quot;mouseDrag&quot;:false,&quot;controls&quot;:true,&quot;autoplay&quot;:false}}">
									<div class="cms-element-title">
										<p class="cms-element-title-paragraph"></p>
									</div>
									<div class="product-slider-container" data-product-slider-container="true">
										{% for imageId in galleryImages %}
											{% if imageId %}
												{% set mediaCollection = searchMedia([imageId], context.context) %}
												{% set imageUrl = mediaCollection.get(imageId).url %}
												<div class="product-slider-item">
													<div class="card product-box box-standard owy-listbox">
														<div class="card-body">
															<div class="gallery-image-wrapper">
																<a href="{{ imageUrl }}" class="product-image-link is-minimal" target="_blank">
																	<img src="{{ imageUrl }}" class="gallery-image is-minimal" alt="Gallery Images"/>
																</a>
															</div>
															<div class="product-info"></div>
														</div>
													</div>
												</div>
											{% endif %}
										{% endfor %}
									</div>
									<div class="product-slider-controls-container">
										<div class="base-slider-controls" data-product-slider-controls="true">
											<button class="base-slider-controls-prev product-slider-controls-prev">
												<span class="icon icon-arrow-head-left">
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewbox="0 0 24 24">
														<use transform="matrix(0 1 1 0 .5 -.5)" xlink:href="#icons-default-arrow-head-left" fill="#758CA3" fill-rule="evenodd"/>
													</svg>
												</span>
											</button>
											<button class="base-slider-controls-next product-slider-controls-next">
												<span class="icon icon-arrow-head-right">
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewbox="0 0 24 24">
														<use transform="rotate(90 11.5 12)" xlink:href="#icons-default-arrow-head-right" fill="#758CA3" fill-rule="evenodd"/>
													</svg>
												</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}

{% set objektivkonstruktiontitle = page.product.customFields.custom_product_detail_objektivkonstruktion_title %}
{% set objektivkonstruktionImage = page.product.customFields.custom_product_detail_objektivkonstruktion_img %}
{% set leistungsmerkmaletitle = page.product.customFields.custom_product_detail_leistungsmerkmale_title %}
{% set leistungsmerkmaleheading1 = page.product.customFields.custom_product_detail_leistungsmerkmale_heading1 %}
{% set leistungsmerkmaleheading2 = page.product.customFields.custom_product_detail_leistungsmerkmale_headin2 %}
{% set leistungsmerkmaleImage1 = page.product.customFields.custom_product_detail_leistungsmerkmale_img1 %}
{% set leistungsmerkmaleImage2 = page.product.customFields.custom_product_detail_leistungsmerkmale_img2 %}


{% if objektivkonstruktiontitle || leistungsmerkmaletitle %}
	<div id="section6" class="detailsections techcontainer">
		<div class="container">
			<div class="infocontent">
				<div class="row">
					<div class="col-md-12">
						{% if objektivkonstruktiontitle %}
							<h3>{{ objektivkonstruktiontitle }}</h3>
						{% endif %}
						{% if objektivkonstruktionImage %}
							{% set mediaCollection = searchMedia([objektivkonstruktionImage], context.context) %}
							{% set objektivkonstruktionImg = mediaCollection.get(objektivkonstruktionImage).url %}
							<img src="{{ objektivkonstruktionImg }}" alt="objektivkonstruktionImg" class="img-fluid">
						{% endif %}
					</div>
					<div class="col-md-12 graphbox
																																																																																							">
						{% if leistungsmerkmaletitle %}
							<h3>{{ leistungsmerkmaletitle }}</h3>
						{% endif %}
						<div class="row">
							<div class="col-md-6">
								{% if leistungsmerkmaleheading1 %}
									<label>{{ leistungsmerkmaleheading1 }}</label>
								{% endif %}
								{% if leistungsmerkmaleImage1 %}
									{% set mediaCollection = searchMedia([leistungsmerkmaleImage1], context.context) %}
									{% set leistungsmerkmaleImg1 = mediaCollection.get(leistungsmerkmaleImage1).url %}
									<img class="img-fluid" src="{{ leistungsmerkmaleImg1 }}" alt="leistungsmerkmale Image">
								{% endif %}
							</div>
							<div class="col-md-6">
								{% if leistungsmerkmaleheading2 %}
									<label>{{ leistungsmerkmaleheading2 }}</label>
								{% endif %}
								{% if leistungsmerkmaleImage2 %}
									{% set mediaCollection = searchMedia([leistungsmerkmaleImage2], context.context) %}
									{% set leistungsmerkmaleImg2 = mediaCollection.get(leistungsmerkmaleImage2).url %}
									<img class="img-fluid" src="{{ leistungsmerkmaleImg1 }}" alt="leistungsmerkmale Image">
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}
{# <div id="section8" class="detailsections">
		<div class="container">
			<div class="infocontent">
				{% block page_product_detail_tabs_content_review %}
					{% if config('core.listing.showReview') %}
						<div class="ratingcontainer">
							<div class="ratingtitle">Kundenmeinungen</div>
							{% sw_include '@Storefront/storefront/page/product-detail/review/review.html.twig' with {'reviews': page.reviews} %}
						</div>
					{% endif %}
				{% endblock %}
			</div>
		</div>
	</div> #}{% endblock %}
