{% sw_extends '@Storefront/storefront/layout/header/search-suggest.html.twig' %}
{% set tab = app.request.get('tab') ?? 'product' %}

{% block layout_search_suggest_container %}
<ul class="search-suggest-container netzp-search-suggest-container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if tab == 'product' %}active{% endif %}" data-bs-toggle="tab" href="#products">
                {{ "netzp.search.products"|trans }}
                <span class="badge bg-success">{{ page.searchResult.total }}</span>
            </a>
        </li>

        {% for key, searchTab in page.extensions.netzpSearch %}
            {% if(searchTab.total > 0) %}
                <li class="nav-item">
                    <a class="nav-link {% if tab == key %}active{% endif %}" data-bs-toggle="tab" href="#{{ key }}">
                        {{ searchTab.label|trans }}
                        <span class="badge bg-success">{{ searchTab.total }}</span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <div class="tab-content">
        <div class="tab-pane container {% if tab == 'product' %}active{% endif %}" id="products">
            {{ parent() }}
        </div>

        {% for key, searchTab in page.extensions.netzpSearch %}
            {% if(searchTab.data|length > 0) %}
                <div class="tab-pane container {% if tab == key %}active{% endif %} mt-3 p-0" id="{{ key }}">
                    {% if(key == 'categories') %}
                        {% sw_include "@Storefront/storefront/netzp-search/suggest-categories.html.twig" %}
                    {% elseif(key == 'manufacturer') %}
                        {% sw_include "@Storefront/storefront/netzp-search/suggest-manufacturer.html.twig" %}
                    {% elseif(key == 'cms') %}
                        {% sw_include "@Storefront/storefront/netzp-search/suggest-cms.html.twig" %}
                    {% else %}
                        {% block netzp_search_container %}{% endblock %}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</ul>
{% endblock %}
