{% sw_extends '@Storefront/storefront/component/product/card/price-unit.html.twig' %}

{% block component_product_box_price %}
    {% set isRentalProduct = product.extensions.rentalProduct.extensions.isRentalProduct %}
    {% if isRentalProduct %}
        <div class="product-price-wrapper test">
            {% set price = real %}

            <div class="product-cheapest-price">
                {% if cheapest.unitPrice != real.unitPrice %}
                    <div>{{ "listing.cheapestPriceLabel"|trans|sw_sanitize }}<span class="product-cheapest-price-price"> {{ cheapest.unitPrice|currency }}{{ "general.star"|trans|sw_sanitize }}{% if cheapest.extensions.rentalProduct%} / {% if product.extensions.rentalProduct.mode == 1 %}{{ "detail.rhiem-rental-products.day"|trans|sw_sanitize }}{% else %}{{ "detail.rhiem-rental-products.hour"|trans|sw_sanitize }}{% endif %}{% endif %}</span></div>
                {% endif %}
            </div>

            {% if displayFrom %}
                {{ "listing.listingTextFrom"|trans|sw_sanitize }}
            {% endif %}

            {% set isListPrice = price.listPrice.percentage > 0 %}

            <span class="product-price{% if isListPrice and not displayFrom %} with-list-price{% endif %}">
                        {# {{ price.unitPrice|currency }} #}
                        {% for calculatedPrice in product.calculatedPrices|slice(0, 1) %}
                            {{ calculatedPrice.unitPrice|currency }}
                        {% endfor %}
                        {{ "general.star"|trans|sw_sanitize }}{% if price.extensions.rentalProduct%} / {% if product.extensions.rentalProduct.mode == 1 %}{{ "detail.rhiem-rental-products.day"|trans|sw_sanitize }}{% else %}{{ "detail.rhiem-rental-products.hour"|trans|sw_sanitize }}{% endif %}{% endif %}

                {% if isListPrice and not displayFrom %}
                    {% set afterListPriceSnippetExists = "listing.afterListPrice"|trans|length > 0 %}
                    {% set beforeListPriceSnippetExists = "listing.beforeListPrice"|trans|length > 0 %}
                    {% set hideStrikeTrough = beforeListPriceSnippetExists or afterListPriceSnippetExists %}

                    <span class="list-price{% if hideStrikeTrough %} list-price-no-line-through{% endif %}">
                                {% if beforeListPriceSnippetExists %}{{ "listing.beforeListPrice"|trans|trim|sw_sanitize }}{% endif %}

                                <span class="list-price-price">{{ price.listPrice.price|currency }}{{ "general.star"|trans|sw_sanitize }}</span>

                                {% if afterListPriceSnippetExists %}{{ "listing.afterListPrice"|trans|trim|sw_sanitize }}{% endif %}

                                <span class="list-price-percentage">{{ "detail.listPricePercentage"|trans({'%price%': price.listPrice.percentage })|sw_sanitize }}</span>
                            </span>
                {% endif %}
                    </span>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}