{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-price.html.twig' %}

{% block page_product_detail_price_block_table_head_inner %}
    {% set isRentalProduct = page.product.extensions.rentalProduct.active %}
    {% if isRentalProduct %}
        <tr class="product-block-prices-row">
            <th scope="col" class="product-block-prices-cell">
                {% if page.product.extensions.rentalProduct.extensions.rentalPriceMode[0] == 0 %}
                    {{ "detail.dataColumnQuantity"|trans|sw_sanitize }}
                {% else %}
                    {{ "detail.rhiem-rental-products.rentPeriod"|trans|sw_sanitize }}
                {% endif %}
            </th>
            <th scope="col" class="product-block-prices-cell">
                {{ "detail.dataColumnPrice"|trans|sw_sanitize }}
                / {% if page.product.extensions.rentalProduct.mode == 1 %}{{ "detail.rhiem-rental-products.day"|trans|sw_sanitize }}{% else %}{{ "detail.rhiem-rental-products.hour"|trans|sw_sanitize }}{% endif %}
            </th>
        </tr>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_product_detail_price_content %}
    {% set isRentalProduct = page.product.extensions.rentalProduct.active %}
    {% if isRentalProduct %}
        {% set listPrice = price.listPrice %}

        <p class="product-detail-price{% if listPrice.percentage > 0 %} with-list-price{% endif %}">
            {{ price.unitPrice|currency }}{{ "general.star"|trans|sw_sanitize }}
            / {% if page.product.extensions.rentalProduct.mode == 1 %}{{ "detail.rhiem-rental-products.day"|trans|sw_sanitize }}{% else %}{{ "detail.rhiem-rental-products.hour"|trans|sw_sanitize }}{% endif %}
        </p>

        {% if listPrice.percentage > 0 %}
            {% block page_product_detail_was_price %}

                {% block page_product_detail_was_price_badge %}
                    <span class="list-price-badge">&#37;</span>
                {% endblock %}

                {% block page_product_detail_was_price_wrapper %}
                    <span class="product-detail-list-price-wrapper">
                            {{ "listing.beforeListPrice"|trans|trim }}
                            <span {% if not ("listing.beforeListPrice"|trans|length > 0 or "listing.afterListPrice"|trans|length > 0) %}class="list-price-price"{% endif %}>
                                {{ listPrice.price|currency }}{{ "general.star"|trans|sw_sanitize }}
                            </span>
                            {{ "listing.afterListPrice"|trans|trim }}
                            <span class="list-price-percentage">{{ "detail.listPricePercentage"|trans({'%price%': listPrice.percentage })|sw_sanitize }}</span>
                        </span>
                {% endblock %}
            {% endblock %}
        {% endif %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
